body {
    background-color: black;
    color: white;
    font-family: sans-serif, 'Times New Roman', Times, serif;
}

h1 {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    color: #68ff68;
}

h4 {
    color: #76ebfa;
}

.links a:hover {
    background-color: red;
}